.History {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}
.cardsGeneral {
  overflow-y: scroll;
  overflow-x: hidden;
}
.cardHistory {
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;
  text-align: justify;
  margin: 3px;
}

.cardHistoryGreen {
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;
  text-align: justify;
  margin: 5px;
  color: #ffffff !important;
  background-color: #d1870e!important;
}
.cardHistoryRed {
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;

  text-align: justify;
  margin: 5px;
  color: #ffffff !important;
  background-color: #14213d !important;
}

.cardCategory {
  margin: 5px;
  text-align-last: left;
  width: 70%;
  font-size: 20px;
}

.cardMoney {
  font-size: 20px;
  margin-right: 20px;
  text-align-last: right;

  width: 30%;
}

.filters {
  color: #14213d;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.dateInputs{
  margin-top: -22px;
}
.filterText {
  margin: 2px;
  margin-top: 8px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1px;
  font-size: 14px;
}

.categoryFilter {
  margin: 2px;
  width: 30% !important;
  align-self: center !important;
}
.historyFilter {
  width: 100% !important;
  margin-bottom: 14px !important;
  align-self: center !important;
}
.textFilter {
  
  padding: 3px;
  text-align: center;
  align-self: center;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 0.375rem;
  margin-bottom: 13px;
}
.cardDate {
  width: 250px;
  height: 100%;
}

.calendarWrap{
  margin-left: 1px;
 
}
.inputBox{
  width: 450px;
}


.buttonHistory {
  width: 740px;
  margin: 2px;
  align-items: center;
  appearance: none;
  background-color: #14213d;

  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.buttonHistory:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.buttonHistory:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttonHistory:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}